<p id="notice"><%= notice %></p>

<h1>Messages</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="messages">
    <% @messages.each do |message| %>
      <%= render message %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Message', new_message_path %>
